button {
    background: rgb(9, 23, 54);
    transition: background 1s ease;
    color: #fff;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background: #3052A1;
    transition: background 1s ease;
}